@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.main * {
  box-sizing: border-box;
}

.main,
.main input {
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  color: #202123;
  margin: 12px 0;
  width: 100%;
}
.main form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 12px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  outline-color: #10a37f;
  width: 100%;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 0 12px;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: fit-content;
}
.main .result {
  padding: 12px;
  background-color: #eee;
  border-radius: 12px;
  margin-bottom: 12px;
}

.main p {
  margin-top: 12px;
  width: 100%;
}

.main details {
  width: 100%;
  cursor: pointer;
  margin: 24px 0 0;
}

.main .component {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  max-width: 100%;
}

.main .component p {
  margin: 0;
  margin-bottom: 8px;
}

.main .component :first-child {
  margin-top: 0;
}

.main .component :last-child {
  margin-bottom: 0;
}

.main label {
  font-weight: 600;
  margin-top: 24px;
  display: block;
}

.main input + label {
  font-weight: 400;
  display: inline;
}

.main select {
  padding: 8px;
  font-size: 16px;
  max-width: 100%;
}

.main .submittedText {
  margin-top: 12px;
  font-size: 14px;
}